doctype html
html(lang="en")
	head
		title= title
		meta(charset="utf-8")
		meat(name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no")
		link(rel='stylesheet', href='stylesheets/style.css')
		link(rel='stylesheet', href='https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css')
		link(rel='stylesheet', href='https://use.fontawesome.com/releases/v5.8.2/css/all.css')

	body
		// Reference: https://codepen.io/ashutoshpw/pen/EvMadK 
		nav.navbar.navbar-expand-lg.navbar-dark.bg-dark
			//-
				a.navbar-brand(href='#') logo <!-- TODO Optionally add logo 
			button.navbar-toggler(type='button', data-toggle='collapse', data-target='#navbarSupportedContent', aria-controls='navbarSupportedContent', aria-expanded='false', aria-label='Toggle navigation') 
				span.navbar-toggler-icon

			.collapse.navbar-collapse(id='navbarSupportedContent')
				ul.navbar-nav.mr-auto
					li.nav-item.active
						a.nav-link(href='#') Home
					li.nav-item
						a.nav-link(href='/page1') Page 1
					li.nav-item
						a.nav-link(href='/page2') Page 2
					li.nav-item
						a.nav-link(href='/page3') Page 3

			.span
				a(href="https://www.instagram.com/") 
					i.fab.fa-instagram(aria-hidden="true", style="font-size:30px; color: white;")
				a(href="https://www.facebook.com/") 
					i.fab.fa-facebook(aria-hidden="true", style="font-size:30px; color: white;")
				a(href="https://www.youtube.com/") 
					i.fab.fa-youtube(aria-hidden="true", style="font-size:30px; color: white;")


	block content

	br 
	br
	div.footer
		2019 &copy; Company Name. All rights reserved.
		br
		br
		script(src='https://code.jquery.com/jquery-3.3.1.slim.min.js')
		script(src='https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js')
		script(src='https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js')
		script(src="https://code.jquery.com/ui/1.11.4/jquery-ui.js")
		script(src="https://code.jquery.com/jquery-3.3.1.slim.min.js")
	